@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box-button{
    width: 350px;
    height: 100px;
    margin: auto;
    margin-top: 10px;
    padding: auto;
}

#success, #failure, .mdi-check-circle{
    width: 150px;
    height: 50px;
    outline: none;
    position: relative;
    border: none;
    border-radius: 8px;
    background: #72b3f0;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    color: #fff;
    transition: all .2s;
}

.clicado{
    background: rgb(213, 253, 213);
}

