@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Ruluko&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ruluko', sans-serif;
}

form {
    max-width: 320px;
    width: auto;
    height: 240px;
    margin: auto;
    margin-top: 50px;
    padding: 32px;
    background: #ffffff;
    border: 2px solid #ccc;
    border-radius: 5px;
}

form label{
    display: block;
    font-weight: bolder;
    margin-bottom: 10px;
}

form input{
    border: none;
}

form input:hover{
    border: none;
}

form input:focus{
    outline: 0;
}

form input[type=password]{
    display: block;
    height: 36px;
    width: 81%;
    margin-left: 10px;
    font-size: 16px;
    letter-spacing: 1px;
}

form input[type=text]{
    display: block;
    height: 36px;
    width: 81%;
    margin-left: 10px;
    font-size: 16px;
    letter-spacing: 1px;
}

form ul.helper-text{
    display: block;
    margin-top: 15px;
    font-size: 12px;
    line-height: 22px;
    color: #808080;
    list-style: none;
}

form ul.helper-text li.valid{
    color: #1ab23e;
    text-decoration-line: line-through;
    list-style: none;
    font-weight: bolder;
}

form.valid input{
    border: 2px solid #1fd34a;
}

.box-password{
    display: flex;
    width: 100%;
    height: 40px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

div#icon{
    background: url('../imagem/show.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    margin: auto;
    cursor: pointer;
}
div#icon.hide{
    background: url('../imagem/hide.png');
    background-size: cover;
    margin: auto;
    cursor: pointer;
}    